#main {
    background-color:black;
    width:200px;
    padding: 10px;
}
#previous {
display:inline-block;
}
#pause {
    display:inline-block;
}
#next {
    display:inline-block;
}
#buttons {
    text-align: center;
}
#pic{
    background-image: url("img/hans.jpg");
}
h1 {
    color:white;
    font-size:0.9em;
}
